<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>Team</th>
    <th class="text-right"><a class="btn btn-outline-primary " role="button" (click)="onAdd()">Create New</a></th></tr>
  </thead>
    <tr *ngFor="let team of teams">
      <td routerLink='/teams/{{team.id}}'>{{team.name}}</td>
      <td class="text-right">
        <a class="btn btn-outline-primary" role="button" (click)="onEdit(team)">Edit</a>
        <a class="btn btn-outline-danger" role="button" (click)="onDelete(team)">Del</a>
      </td>
    </tr>
</table>
</div>
