<div class="modal-header">
  <h5 class="modal-title">Team</h5>
</div>
<form (ngSubmit)='Submit()' #teamForm='ngForm' *ngIf="team">
  <div class="modal-body">
    <div class="form-group ">
      <label for="name" class="">Name</label>
      <input type="text" required [(ngModel)]="team.name" class="form-control" id="name" name="name" autofocus >
    </div>
  </div>
  <div class="modal-footer text-center">
    <input type="submit" value="Save" [disabled]="!teamForm.form.valid" class='btn btn-outline-primary'/>
    <input type="button" value="Cancel" (click)="Cancel()" class='btn btn-outline-secondary'>
  </div>
</form>
