<div class="container">
<table class="table table-striped">
  <thead>
  <tr>
    <th>League</th>
    <th class="text-right"><a class="btn btn-outline-primary " role="button" (click)="onAdd()">Create New</a></th></tr>
  </thead>
    <tr *ngFor="let league of leagues">
      <td routerLink='/leagues/{{league.id}}'>{{league.name}}</td>
      <td class="text-right">
        <a class="btn btn-outline-primary" role="button" (click)="onEdit(league)">Edit</a>
        <a class="btn btn-outline-danger" role="button" (click)="onDelete(league)">Del</a>
      </td>
    </tr>
</table>
</div>
